.zoom-container {
    position: relative;
    overflow: hidden;

}

.zoom-image {
    display: block;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.3s ease;
}

.zoom-container:hover .zoom-image {
    transform: scale(2); /* Adjust the scale factor as needed */
}
